ThePirateBay==1.1.3
argparse==1.2.1
beautifulsoup4==4.3.2
dateutils==0.6.6
lxml==4.9.1
mattdaemon==1.1.1
mccabe==0.2.1
mock==1.0.1
peewee==2.1.5
purl==0.8
python-dateutil==2.1
pytz==2013.7
six==1.4.1
timeout-decorator==0.1.0
transmissionrpc==0.11
wsgiref==0.1.2
